.contato {
    background-color: var(--cor-branco);
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 1.5rem;
}

.contato_titulo {
    font-size: 1.125rem;
    font-weight: 500;
}

.contato_texto {
    font-weight: 300;
    margin: 1rem 0;
}

.contato_email {
    width: 90%;
    padding: 0.8rem;
    border: 0.0625rem solid var(--cor-azul);
    border-radius: 1.5rem;
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: var(--cor-azul-degrade);
}

.contato_email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    font-weight: 400;
    background-image: url(../img/Email.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem;
    padding-left: 2.5rem;
    align-items: center;
}

@media screen and (min-width: 1024px) {

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato_email {
        width: 30%;
    }

    .contato_descricao {
        margin-right: 1rem;
        width: 35%;
    }

    .contato_titulo {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {

    .contato {
        padding: 3rem 10vw;
    }
    
}
@media screen and (min-width: 1728px) {

    .contato {
        padding: 3rem 17vw;
    }
    
}